.button {
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-dark);
  transition: background-color var(--transition-speed),
    border-color var(--transition-speed);
}

.button:hover,
.button:focus {
  background-color: #e07b00;
  border-color: #e07b00;
  outline: none;
}
